@import "../StylesVariables/StylesVariables.scss";
.Footer {
  z-index: 9999;
  background-color: $bg-color;
  padding: 0.125em 1em;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  position: fixed;
  bottom: 0;
  span {
    font-size: 0.5rem;
    color: $font-color;
    margin-right: 1em;
  }
}
